<a href="https://colab.research.google.com/github/PoojithaYarava/Python-For-Data-Science-/blob/main/PFDS_Lab_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Student Marks Analysis

In [2]:
import csv

# Data
students = [
    {"Student_ID": 1, "Name": "John", "Math": 85, "Science": 90, "English": 78},
    {"Student_ID": 2, "Name": "Alice", "Math": 92, "Science": 88, "English": 95},
    {"Student_ID": 3, "Name": "Ravi", "Math": 76, "Science": 84, "English": 80},
    {"Student_ID": 4, "Name": "Priya", "Math": 95, "Science": 92, "English": 88},
    {"Student_ID": 5, "Name": "Rahul", "Math": 88, "Science": 76, "English": 92},
]

# Writing to CSV
with open("student_scores.csv", "w", newline="") as file:
    writer = csv.DictWriter(file, fieldnames=["Student_ID", "Name", "Math", "Science", "English"])
    writer.writeheader()
    writer.writerows(students)

print("student_scores.csv created successfully!")

student_scores.csv created successfully!

Read the CSV file

In [6]:
import pandas as pd

# Read the CSV file into a pandas DataFrame
df = pd.read_csv("student_scores.csv")

 Handle Missing Values (fill missing marks with column mean)

In [7]:
df_filled = df.fillna(df.mean(numeric_only=True))

print("Data after filling missing marks with mean values:")
print(df_filled, "\n")

Data after filling missing marks with mean values:
   Student_ID   Name  Math  Science  English
0           1   John    85       90       78
1           2  Alice    92       88       95
2           3   Ravi    76       84       80
3           4  Priya    95       92       88
4           5  Rahul    88       76       92

 Filter High Achievers (Average >= 75)

In [9]:
df_filled["Total"] = df_filled[["Math", "Science", "English"]].sum(axis=1)
df_filled["Average"] = df_filled[["Math", "Science", "English"]].mean(axis=1)

high_achievers = df_filled[df_filled["Average"] >= 75]

print("High Achievers:")
print(high_achievers, "\n")

High Achievers:
   Student_ID   Name  Math  Science  English  Total    Average
0           1   John    85       90       78    253  84.333333
1           2  Alice    92       88       95    275  91.666667
2           3   Ravi    76       84       80    240  80.000000
3           4  Priya    95       92       88    275  91.666667
4           5  Rahul    88       76       92    256  85.333333

2.Hospital Patient Records

In [11]:
import csv

# Sample patient records
patients = [
    {"Patient_ID": 1, "Name": "Anita", "Age": 68, "Gender": "Female", "Diagnosis": "Diabetes", "Admission_Date": "2023-05-14"},
    {"Patient_ID": 2, "Name": "Raj", "Age": 72, "Gender": "Male", "Diagnosis": "Hypertension", "Admission_Date": "2023-06-20"},
    {"Patient_ID": 3, "Name": "Sneha", "Age": 59, "Gender": "Female", "Diagnosis": "Asthma", "Admission_Date": "2023-07-01"},
    {"Patient_ID": 4, "Name": "Lata", "Age": 82, "Gender": "Female", "Diagnosis": "Diabetes", "Admission_Date": "2023-05-22"},
    {"Patient_ID": 5, "Name": "John", "Age": 65, "Gender": "Male", "Diagnosis": "Diabetes", "Admission_Date": "2023-04-18"},
    {"Patient_ID": 6, "Name": "Pooja", "Age": 75, "Gender": "Female", "Diagnosis": "Diabetes", "Admission_Date": "2023-06-11"},
    {"Patient_ID": 7, "Name": "Amit", "Age": 60, "Gender": "Male", "Diagnosis": "Heart Disease", "Admission_Date": "2023-08-02"},
    {"Patient_ID": 8, "Name": "Meena", "Age": None, "Gender": " Female ", "Diagnosis": None, "Admission_Date": "2023-07-15"}, # missing values
]

# Write to CSV
with open("patients.csv", "w", newline="") as file:
    writer = csv.DictWriter(file, fieldnames=["Patient_ID", "Name", "Age", "Gender", "Diagnosis", "Admission_Date"])
    writer.writeheader()
    writer.writerows(patients)

print(" patients.csv file created successfully!")

 patients.csv file created successfully!

Load the dataset

In [12]:
df = pd.read_csv("patients.csv")

Replace missing Age values with median

In [13]:
df["Age"] = df["Age"].fillna(df["Age"].median())
df["Diagnosis"] = df["Diagnosis"].fillna("Unknown")
df["Gender"] = df["Gender"].str.strip().str.capitalize()

print("Cleaned Data:")
print(df, "\n")

Cleaned Data:
   Patient_ID   Name   Age  Gender      Diagnosis Admission_Date
0           1  Anita  68.0  Female       Diabetes     2023-05-14
1           2    Raj  72.0    Male   Hypertension     2023-06-20
2           3  Sneha  59.0  Female         Asthma     2023-07-01
3           4   Lata  82.0  Female       Diabetes     2023-05-22
4           5   John  65.0    Male       Diabetes     2023-04-18
5           6  Pooja  75.0  Female       Diabetes     2023-06-11
6           7   Amit  60.0    Male  Heart Disease     2023-08-02
7           8  Meena  68.0  Female        Unknown     2023-07-15

Filter female patients aged above 50 diagnosed with Diabetes

In [14]:
filtered_patients = df[
    (df["Age"] > 50) &
    (df["Gender"].str.strip().str.capitalize() == "Female") &
    (df["Diagnosis"].str.lower() == "diabetes")
]

In [16]:
print("Female patients aged above 50 with Diabetes:")
print(filtered_patients, "\n")

# Step 4: Save results into new CSV
filtered_patients.to_csv("female_diabetes_above50.csv", index=False)

print("✅ Filtered data saved to 'female_diabetes_above50.csv'")

Female patients aged above 50 with Diabetes:
   Patient_ID   Name   Age  Gender Diagnosis Admission_Date
0           1  Anita  68.0  Female  Diabetes     2023-05-14
3           4   Lata  82.0  Female  Diabetes     2023-05-22
5           6  Pooja  75.0  Female  Diabetes     2023-06-11

✅ Filtered data saved to 'female_diabetes_above50.csv'